@using Aware.Util.View
@using Aware.Util.Enums
@using Aware.Util
@using WebMarket.Admin.Models
@using WebMarket.Admin.Helper

@model Aware.ECommerce.Model.Custom.CategoryViewModel

@if (Model != null && Model.Category != null)
{
    var fields = new FieldHelper();
    fields.Text("Name", "İsim", Model.Category.Name, "validate", 60);
    fields.BtnGroup("Durum", "Status", Model.StatusList, ((int)Model.Category.Status).ToString(),"btn-status");

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_general" data-toggle="tab" aria-expanded="false">DETAY</a></li>
            <li class=""><a href="#tab_gallery" data-toggle="tab" aria-expanded="false">GÖRSELLER</a></li>

            @if (Model.HasMultiLanguage)
            {
                <li class=""><a href="#tab_language" data-toggle="tab" aria-expanded="false">ÇOKLU DİL</a></li>
            }
        </ul>
        <div class="tab-content">
            <div class="row tab-pane active" id="tab_general">
                <div class="col-md-6">
                    @Html.Hidden("CategoryID", Model.Category.ID)
                    @Html.Hidden("ParentID", Model.Category.ParentID)

                    <p id="Hierarchy" class="@(Model.Category.Level==1?"dn":"")">
                        <i class="fa fa-book"></i>  @Model.HierarchyInfo
                    </p>
                    @Html.Partial("_FieldHelper", fields)

                    @if (Model.AllowEdit)
                    {
                        <hr/>
                        @Html.ButtonFor("Sil", "mr10 btn-danger btn-delete-category", "remove")
                        @Html.ButtonFor("Alt Kategori", "mr10 btn-info btn-add-sub-category", "plus")
                        @Html.ButtonFor("Kaydet", "mr10 btn-success btn-save-category", "check")
                    }
                </div>
            </div>
            <div class="tab-pane" id="tab_gallery">
                @Html.Partial("_FileGallery", Model.FileGallery)
            </div>

            @if (Model.HasMultiLanguage)
            {
                <div id="tab_language" class="row tab-pane">
                    @Html.Action("LanguageValue", "Management", new { relationID = Model.Category.ID, relationType = RelationTypes.Category })
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="callout callout-danger">
        <h4><i class="icon fa fa-warning"></i> Hata</h4>
        <p>Böyle bir kategori yok ya da görüntüleme yetkiniz bulunmuyor!</p>
    </div>
}