@using Aware.Util
@using Aware.Util.Enums
@using Aware.Util.View
@using WebMarket.Admin.Helper
@model Aware.Util.View.Field

@if (!string.IsNullOrEmpty(Model.Prefix))
{
    <span class="input-group-addon">@Html.Raw(Model.Prefix)</span>
}

@if (Model.Type == FieldType.TextBox || Model.Type == FieldType.Password || Model.Type == FieldType.NumberBox)
{
    <input type="@Model.TypeString" class="form-control text @Model.Css" id="@Model.ID.Replace(".", "_")" name="@Model.ID" placeholder="@Model.Placeholder" value="@Model.Value" @Html.Raw(Model.Attributes) />
}
else if (Model.Type == FieldType.Textarea)
{
    <textarea id='@Model.ID.Replace(".", "_")' name='@Model.ID' class='form-control text area @Model.Css' placeholder='@Model.Placeholder' @Html.Raw(Model.Attributes)>@Model.Value</textarea>
}
else if (Model.Type == FieldType.Label)
{
    <label class='@Model.Css' @Html.Raw(Model.Attributes)>@Model.Value</label>
}
else if (Model.Type == FieldType.CheckBox)
{
    <div class="cbx @Model.Css @(Model.Value == "true" ? "active" : "")" @Html.Raw(Model.Attributes)>
        @Html.Hidden(Model.ID, Model.Value == "true")
        <i class="fa fa-check"></i>
    </div>
}
else if (Model.Type == FieldType.Image)
{
    <div class="image-wrapper @Model.Css">
        <div class="thumbnail">
            @Html.ImageFor(string.Empty, Model.Value)
        </div>
        <div class="selector">
            <span>@Model.Extra</span>
            @Html.ButtonFor("Seç", "ml10 btn-sm btn-info btn-select-image", string.Empty)
            <input name="@Model.ID" id="@Model.ID" class="image upload-file" type="file" @Html.Raw(Model.Attributes)>
        </div>
    </div>
}
else if (Model.Type == FieldType.Select)
{
    var selectField = Model as SelectField;
    <select id='@Model.ID.Replace(".", "_")' name='@Model.ID' class='sbx  @Model.Css' @Html.Raw(Model.Attributes) @(selectField.IsMulti ? "multiple='multiple'" : "") data-selected="@Model.Value">
        @if (!string.IsNullOrEmpty(selectField.BlankOption))
        {
            <option value='0'>@selectField.BlankOption</option>
        }
        @foreach (var item in selectField.DataSource)
        {
            <option value='@item.ID' @(selectField.IsSelected(item.ID) ? "selected='selected'" : "")>@item.Value</option>
        }
    </select>
}
else if (Model.Type == FieldType.ButtonGroup)
{
    var btnGroupField = Model as BtnGroupField;
    if (btnGroupField != null && btnGroupField.DataSource.Any())
    {
        var value = Model.Value;
        if (btnGroupField.IsBool) { value = value == "1" ? "true" : "false"; }

        <div class="horizantal-selector @(btnGroupField.IsBool?"bool-selector":"") @btnGroupField.Css">
            <div class="btn-group">
                @foreach (var btn in btnGroupField.DataSource)
                {
                    var css = btn.ID.ToString() == btnGroupField.Value ? "active" : "";
                    <button type="button" class="btn @css" data-id="@btn.ID">@btn.Value</button>
                }
            </div>
            @Html.Hidden(Model.ID, value)
        </div>
    }
}

@if (!string.IsNullOrEmpty(Model.Suffix))
{
    <span class="input-group-addon">@Html.Raw(Model.Suffix)</span>
}
