@using Aware.Util.Enums
@model Aware.Util.Slider.SliderItem

@if (Model != null)
{
    var imagePath = string.IsNullOrEmpty(Model.ImagePath) ? "/slider/0.jpg" : Model.ImagePath;

    <div class="preview" data-id="@Model.ID">
        <form class="slider-form">
            <img style="width: 100%;" src="/resource/img/@imagePath" alt="@Model.Title">
            <input type="file" name="SliderImage" accept="image/*" class="dn">
            <div class="operations">
                @Html.Hidden("ID", Model.ID)
                @Html.Hidden("Type", (int) Model.Type)
                @Html.Hidden("ImagePath", Model.ImagePath)
                @Html.Hidden("Status", (int) Model.Status)

                @Html.TextBox("Title", Model.Title, new {@class = "title", maxlength = 300, placeholder = "Başlık"})
                @Html.TextBox("SubTitle", Model.SubTitle, new {@class = "sub-title", maxlength = 500, placeholder = "Alt Başlık"})

                @Html.TextBox("Url", Model.Url, new {@class = "ease-in form-control url", maxlength = 300, placeholder = "Url : http://.."})
                @Html.TextBox("SortOrder", Model.SortOrder, new {@class = "ease-in form-control sort-order", maxlength = 6, placeholder = "Sıra"})

                <div class="ease-in status-bar @(Model.Status == Statuses.Active ? "active" : "")">
                    <span class="plus">Aktif</span>
                    <span class="minus">Pasif</span>
                </div>

                <button class="ease-in btn btn-info btn-change-image"><i class="fa fa-download"></i> Resim Seç</button>
                <button class="ease-in btn btn-success btn-save-changes"><i class="fa fa-check"></i> Kaydet</button>
            </div>
        </form>
    </div>
}