@using Aware.ECommerce
@using Aware.Util
@using Aware.Util.View
@{
    ViewBag.Title = "Şifre Değiştirme";
    string requestData = ViewBag.RequestData != null ? ViewBag.RequestData.ToString() : string.Empty;
}

<div class="page-section container">
    <div class="col-md-6 change-password-dialog">
        <h1 class="mb20">@ViewBag.Title</h1>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            var fields = new FieldHelper();
            fields.If(string.IsNullOrEmpty(requestData)).Pasword("CurrentPassword", "Mevcut Şifre", string.Empty, "validate", 10);
            fields.Pasword("Password", "Yeni Şifre", string.Empty, "validate not-equal", 10).SetAttr("data-compare-id='CurrentPassword'");
            fields.Pasword("RepeatPassword", "Şifre Tekrarı", string.Empty, "validate must-equal", 10).SetAttr("data-compare-id='Password'"); ;
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            
            @Html.Hidden("RequestData",requestData)
            @Html.Partial("_FieldHelper", fields)

            <div class="form-group">
                @Html.ButtonFor("Kaydet", "fr btn-red btn-change-password", string.Empty)
            </div>
        }
    </div>
</div>

@section header
{
    <script src="~/resource/js/user.js"></script>
}