@{
    ViewBag.Title = "Şifre Değiştirme";
    string requestData = ViewBag.RequestData != null ? ViewBag.RequestData.ToString() : string.Empty;
}

<div class="page-header">
    <div class="container">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="mt20 col-md-6 mb20 change-password-dialog">
            @if (ViewBag.ErrorCode != null)
            {
                <p class="mb20 lead text-danger"><i class="fa fa-exclamation-triangle"></i> @ViewBag.ErrorCode</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                    Üye Girişi
                </button>
            }
            else
            {
                using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @Html.Hidden("RequestData", requestData)

                    if (string.IsNullOrEmpty(requestData))
                    {
                        <div class="form-group">
                            <label for="name">Mevcut Şifre</label>
                            <input type="password" class="form-control validate" id="CurrentPassword" name="CurrentPassword" placeholder="Mevcut Şifre" maxlength="10">
                        </div>
                    }

                    <div class="form-group">
                        <label for="password">Yeni Şifre</label>
                        <input type="password" class="form-control validate must-equal" id="Password" name="Password" placeholder="Yeni Şifre" maxlength="10">
                    </div>

                    <div class="form-group">
                        <label for="passwordRepeat">Şifre Tekrar</label>
                        <input type="password" class="form-control validate must-equal" data-compare-id="Password" id="RepeatPassword" name="RepeatPassword" placeholder="Şifre Tekrar" maxlength="10">
                    </div>

                    <div class="mt10 form-group">
                        <button type="submit" class="fr btn btn-success btn-change-password">Kaydet</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/user.js"></script>
}