@model ArzTalep.Web.Models.UserViewModel
@{
    ViewBag.Title = "Üye Bilgilerim";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>@ViewBag.Title</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row page-dialog register-dialog">
        <div class="col-md-6">
            @if (Model != null && Model.User != null)
            {
                if (Model.SaveResult != null && !Model.SaveResult.Ok)
                {
                    <p class="error lead">@Model.SaveResult.Code</p>
                }

                using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "plain-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        <input type="text" class="form-control validate" id="name" name="name" value="@Model.User.Name" placeholder="Ad soyad" maxlength="100">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control validate email-check" id="email" name="email" value="@Model.User.Email" placeholder="E-posta" maxlength="30">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control validate number" id="phoneNumber" name="phoneNumber" value="@Model.User.PhoneNumber" placeholder="Cep Telefonu" maxlength="20">
                    </div>

                    @*if (Model.HasPermissions)
                        {
                            <p class="mt20">Webmarket.com'a ait ürün ve hizmetler ile ilgili bülten, kampanya ve promosyonlara yönelik;</p>
                            foreach (var permission in Model.PermissionList)
                            {
                                <div class="db mt10 wm-cbx user-permission" data-permission-id="@permission.ID">
                                    <i class="mr10 fa fa-check-square"></i>
                                    <span>@permission.Title</span>
                                </div>
                            }
                        }*@

                    <div class="mt10 form-group">
                        <button type="submit" class="fr btn btn-primary btn-green btn-register">Kaydet</button>
                    </div>
                }
            }
            else
            {
                <p class="lead error">İşleminizi şuan gereçekleştiremiyoruz. Lütfen daha sonra tekrar deneyin!</p>
            }
        </div>
    </div>
</div>

<style>
    .register-dialog .btn-login { margin-left: 100px; }
    .register-dialog .error_field { display: none; }
</style>

@section scripts{
    <script src="~/js/user.js"></script>
}