@using System.Web.Mvc.Html
@using Aware.Util.View
@using WebMarket.Admin.Helper
@model Aware.Authority.Model.AuthorityDefinitionListModel

@{
    ViewBag.Title = "Yetki Tanımları";
    TempData["ActivePage"] = 32;
    var count = Model != null && Model.AuthorityDefinitions != null ? Model.AuthorityDefinitions.Count() : 0;
}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-icon"><i class="fa fa-th"></i></div>
                <div class="card-content">
                    <h2 class="card-title">
                        @ViewBag.Title
                        <button class="btn btn-info btn-round btn-fab btn-fab-mini btn-new-authority" title="Yeni Ekle"><i class="fa fa-plus"></i></button>
                    </h2>
                    
                    @if (count > 0)
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th>Yetki Açıklama</th>
                                        <th>Yetki Tipi</th>
                                        <th>Kullanım Şekli</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AuthorityDefinitions)
                                    {
                                        <tr data-id="@item.ID">
                                            <td>@item.ID</td>
                                            <td>@item.Title</td>
                                            <td>@Html.LookupValue(Model.AuthorityTypeList, (int)item.Type)</td>
                                            <td>@Html.LookupValue(Model.AuthorityModeList, (int)item.Mode)</td>
                                            <td>
                                                @Html.ButtonFor("Düzenle", "btn-sm btn-success btn-edit-authority", "refresh")
                                                @Html.ButtonFor("Sil", "btn-sm btn-danger btn-delete-authority", "remove")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                    else
                    {
                        <hr />
                        <div class="no-result-found">
                            <i class="fa fa-warning"></i>
                            <h4>Listelenecek Yetki Tanımı Bulunamadı!</h4>
                            <p class="description"><b>Yeni Ekle</b> butonunu kullanarak yetki tanımı yapabilirsiniz.</p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-3 dn pnl-edit-authority">
            <div class="card">
                <div class="card-header card-header-icon"><i class="fa fa-th"></i></div>
                <div class="card-content">
                    <h4 class="card-title">Yetki Düzenle</h4>
                    <form>
                        @{
                            var fields = new FieldHelper();
                            fields.Label("#ID", "0", "viewable lbl-id");
                            fields.Text("Title", "Başlık", string.Empty, "validate", 200);
                            fields.Select("Yetki Tipi", "Type", Model.AuthorityTypeList, 0, "validate sbx-check authority-type-selector", string.Empty);
                            fields.Select("Kullanım Şekli", "Mode", Model.AuthorityModeList, 0, "authority-mode-selector", string.Empty);
                        }

                        @Html.Hidden("ID", "0")
                        @Html.Partial("_FieldHelper", fields)
                    </form>
                    <div class="box-footer">
                        @Html.ButtonFor("Kaydet", "btn-success btn-save-authority")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section pageheader
{
    <script src="~/resource/js/management.js" type="text/javascript"></script>
}