@using Aware.Util.Enums
@using Aware.Util.View
@using WebMarket.Admin.Helper
@{
    ViewBag.Title = "Şifre Değiştir";
    TempData["ActivePage"] = 2;
    string requestData = ViewBag.RequestData != null ? ViewBag.RequestData.ToString() : string.Empty;
}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header card-header-icon"><i class="fa fa-table"></i></div>
                <div class="card-content">
                    <h2 class="card-title">
                        @ViewBag.Title
                    </h2>

                    <div class="change-password-dialog">
                        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "mt10" }))
                        {
                            var fields = new FieldHelper(FieldDirection.Inline);
                            fields.If(string.IsNullOrEmpty(requestData)).Pasword("CurrentPassword", "Mevcut Şifre", string.Empty, "validate", 10).SetAffix("", "<i class='fa fa-lock'></i>");
                            fields.Pasword("Password", "Yeni Şifre", string.Empty, "validate not-equal")
                                .SetAffix(string.Empty, "<i class='fa fa-unlock-alt'></i>")
                                .SetAttr("maxlength='10' data-compare-id='CurrentPassword' data-comp-msg='Yeni şifreniz, mevcut şifreniz ile aynı olamaz!'");

                            fields.Pasword("RepeatPassword", "Şifre Tekrarı", string.Empty, "validate must-equal")
                                .SetAffix(string.Empty, "<i class='fa fa-unlock-alt'></i>")
                                .SetAttr("maxlength='10' data-compare-id='Password' data-comp-msg='Yeni şifre ve şifre tekrarı aynı olmalıdır!'");

                            @Html.Hidden("RequestData", requestData)
                            @Html.Partial("_FieldHelper", fields)

                            <hr />
                            <div class="text-right">
                                <a href="@Url.RouteUrl(RouteNames.MyInfoRoute)" class="mr10 btn btn-info"><i class="fa fa-chevron-left"></i> Geri</a>
                                @Html.ButtonFor("Kaydet", "btn-success btn-change-password")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section pageheader{
    <script src="~/resource/js/user.js"></script>
}